<!-- <div id="toast-container"></div> -->

<div class="container" ng-controller="mainCtrl">
  <div class="row col-md-12">
    <h2>Data for {{currentMonth}}</h2>
    <span ng-click='clickme(0)'>Jan</span>
    <span ng-click='clickme(1)'>Feb</span>
    <span ng-click='clickme(2)'>Mar</span>
    <span ng-click='clickme(3)'>Apr</span>
    <span ng-click='clickme(4)'>May</span>
    <span ng-click='clickme(5)'>Jun</span>
    <span ng-click='clickme(6)'>Jul</span>
    <span ng-click='clickme(7)'>Aug</span>
    <span ng-click='clickme(8)'>Sep</span>
    <span ng-click='clickme(9)'>Oct</span>
    <span ng-click='clickme(10)'>Nov</span>
    <span ng-click='clickme(11)'>Dec</span>
    <div>
      <md-input-container flex>
        <label>Item</label>
        <input type="text" ng-model="item" />
      </md-input-container>

      <md-input-container flex>
        <label>Price</label>
        <input type="number" ng-model="price" />
      </md-input-container>

      <md-input-container flex>
        <label>Note</label>
        <input type="text" ng-model="note" />
      </md-input-container>
      <select ng-model="category">
          <option ng-repeat="option in categoryOptions" value="{{option.id}}">{{option.name}}</option>
      </select>
        <md-datepicker ng-model="date" md-placeholder="Choose date"></md-datepicker>

      <md-button class="md-primary md-raised" ng-click="save()">
        <md-tooltip md-direction="top">Add entry</md-tooltip>
        Add
      </md-button>

    </div>
  </div>
  <div class="row col-md-12 expenses">
    <div class="alert alert-info text-center" ng-hide="expenses.length > 0">
      <h3>No items entered yet!</h3>
    </div>

    <md-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="expense in expenses">
          <span>{{expense.date | date}}</span>
          <div class="md-list">
            <h3>{{expense.item}}</h3>
            <h4>{{expense.category.name}}</h4>
            <p>{{expense.note}}</p>
          </div>
          <span>{{expense.price}}</span>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <md-button class="md-primary md-raised" ng-click="editData($index)">
              <md-tooltip md-direction="top">Edit entry</md-tooltip>
              Edit
            </md-button>
            <md-button class="md-warn md-raised md-hue-2" ng-click="delete($index)">
              <md-tooltip md-direction="top">Delete entry</md-tooltip>
              Delete
            </md-button>
          </div>
          <md-divider md-inset ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>


  </div>

  <div class="row col-md-6">
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </div>
</div>
