<!-- <div id="toast-container"></div> -->

<div class="container" ng-controller="mainCtrl">
  <div class="row col-md-12">
    <h2>Data for {{currentMonth}}</h2>
    <span ng-click='clickme(0)'>Jan</span>
    <span ng-click='clickme(1)'>Feb</span>
    <span ng-click='clickme(2)'>Mar</span>
    <span ng-click='clickme(3)'>Apr</span>
    <span ng-click='clickme(4)'>May</span>
    <span ng-click='clickme(5)'>Jun</span>
    <span ng-click='clickme(6)'>Jul</span>
    <span ng-click='clickme(7)'>Aug</span>
    <span ng-click='clickme(8)'>Sep</span>
    <span ng-click='clickme(9)'>Oct</span>
    <span ng-click='clickme(10)'>Nov</span>
    <span ng-click='clickme(11)'>Dec</span>
    <div>
      <md-input-container flex>
        <label>Item</label>
        <input type="text" ng-model="item" />
      </md-input-container>

      <md-input-container flex>
        <label>Price</label>
        <input type="number" ng-model="price" />
      </md-input-container>

      <md-input-container flex>
        <label>Note</label>
        <input type="text" ng-model="note" />
      </md-input-container>
      <select ng-model="category">
          <option ng-repeat="option in categoryOptions" value="{{option.id}}">{{option.name}}</option>
      </select>
        <md-datepicker ng-model="date" md-placeholder="Choose date"></md-datepicker>

      <md-button class="md-primary md-raised" ng-click="save()">
        <md-tooltip md-direction="top">Add entry</md-tooltip>
        Add
      </md-button>

    </div>
  </div>
  <div class="row col-md-12 expenses">
    <div class="alert alert-info text-center" ng-hide="expenses.length > 0">
      <h3>No items entered yet!</h3>
    </div>

    <md-content>
      <md-grid-list
      md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="10"
      md-row-height-gt-md="60" ng-repeat="expense in expenses" >
      <md-grid-tile
                    md-rowspan="1"
                    md-colspan="1"
                    ng-class="green" >
                    <h4>{{expense.date|date:'MMM'}}</h4>
                    <h3>{{expense.date|date:'d'}}</h3>
      </md-grid-tile>
      <md-grid-tile
                    md-rowspan="1"
                    md-colspan="1"
                    ng-class="green" >
                    {{expense.category.name}}
      </md-grid-tile>
      <md-grid-tile
                    md-rowspan="1"
                    md-colspan="1"
                    ng-class="green" >
                    {{expense.item}}
      </md-grid-tile>
      <md-grid-tile
                    md-rowspan="1"
                    md-colspan="1"
                    ng-class="green" >
                    {{expense.price}}
      </md-grid-tile>
      <md-grid-tile
                    md-rowspan="1"
                    md-colspan="1"
                    ng-class="green" >
                    {{expense.note}}
      </md-grid-tile>
      <md-grid-tile
                    md-rowspan="1"
                    md-colspan="1"
                    ng-class="green" >
                    <md-button class="md-primary md-raised" ng-click="editData($index)">
                      <md-tooltip md-direction="top">Edit entry</md-tooltip>
                      Edit
                    </md-button>
      </md-grid-tile>
      <md-grid-tile
                    md-rowspan="1"
                    md-colspan="1"
                    ng-class="green" >
                    <md-button class="md-warn md-raised md-hue-2" ng-click="delete($index)">
                      <md-tooltip md-direction="top">Delete entry</md-tooltip>
                      Delete
                    </md-button>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
  </div>
  <div class="row col-md-6">
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </div>
</div>
